@model Yarn_Feed.ViewModels.PostViewModel
@*@model Yarn_Feed.Models.Crafter*@

@{
    ViewData["Title"] = "Index";
}




<div class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-3 well" style="background-color: #25434C">
            <div class="well" style="background-color: #F3F4F0">
                <p><strong><a href="#" style="color: #DE7568">My Profile</a></strong></p>
                <img src="@Model.Crafter.PhotoSmallURL" class="rounded" height="65" width="65" alt="Avatar">
            </div>
            <div class="well" style="background-color: #F3F4F0">
                <p><strong><a href="#" style="color: #DE7568">Interests</a></strong></p>
                <p>
                    <span class="label" style="color: #000000">News</span>
                    <span class="label" style="color: #000000">Labels</span>
                    <span class="label" style="color: #000000">Yarn</span>
                    <span class="label" style="color: #000000">Gaming</span>
                    <span class="label" style="color: #000000">Friends</span>
                </p>
            </div>
            <div class="well" style="background-color: #F3F4F0">
                    <img src="/Images/splash_balloon-alpaca-8bpp.png" class="img-fluid">
            </div>
            <div class="well" style="background-color: #F3F4F0">
                <p><a href="#" style="color: #DE7568">Link</a></p>
                <p><a href="#"style="color: #DE7568">Link</a></p>
                <p><a href="#"style="color: #DE7568">Link</a></p>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default text-left" style="background-color: #F3F4F0">
                        <div class="panel-body">
                            <form asp-action="NewPost" method="post">
                                <div class="form-group">
                                    <label asp-for="postBlurb">Create post</label>
                                    <textarea asp-for="postBlurb" class="form-control" id="postBlurb" rows="3" placeholder="What's on your mind?"></textarea>
                                </div>
                                <div class="form-group col-md-7">
                                    <input asp-for="sharableId" class="form-control" id="sharableId" placeholder="ID of Sharable">
                                </div>
                                <div class="form-group col-md-3">
                                    <select asp-for="sharableType" id="sharableType" class="form-control">
                                        <option selected>Choose</option>
                                        <option>Project</option>
                                        <option>Stash</option>
                                        <option>Shop</option>
                                        <option>Pattern</option>
                                    </select>
                                </div>
                                @*<button type="submit" asp-for="project" name="action:project" class="btn btn-default btn-sm" style="background-color: #ABEDE3">Project</button>
        <button type="submit" asp-route-submitButton="stash" name="action:stash" class="btn btn-default btn-sm" style="background-color: #ABEDE3">Stash</button>
        <button type="submit" asp-route-submitButton="pattern" name="action:propatternject" class="btn btn-default btn-sm" style="background-color: #ABEDE3">Pattern</button>
        <button type="submit" asp-route-submitButton="shop" name="action:shop" class="btn btn-default btn-sm" style="background-color: #ABEDE3">Shop</button>*@
                            <div class="form-group col-md-2">
                                <button type="submit" asp-for="blurb" name="action:blurb" class="btn btn-default btn-lg" style="background-color: #DE7568">
                                    <span class="glyphicon glyphicon-share"></span>Share
                                </button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3" style="padding-right: 7px">
                    <div class="well" style="background-color: #F3F4F0">
                        <p><strong>John</strong></p>
                        <img src="@Model.Crafter.PhotoSmallURL" class="rounded" height="55" width="55" alt="Avatar">
                    </div>
                </div>
                <div class="col-sm-9" style="padding-left: 0">
                    <div class="well" style="background-color: #F3F4F0">
                        <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                        <button type="button" class="btn btn-default btn-sm" style="background-color: #ABEDE3">
                            <span class="glyphicon glyphicon-thumbs-up"></span> Like
                        </button>
                        <button type="button" class="btn btn-default btn-sm" style="background-color: #DE7568">
                            <span class="glyphicon glyphicon-comment"></span> Comment
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3" style="padding-right: 7px">
                    <div class="well" style="background-color: #F3F4F0">
                        <p>Bo</p>
                        <img src="@Model.Crafter.PhotoTinyURL" class="rounded" height="55" width="55" alt="Avatar">
                    </div>
                </div>
                <div class="col-sm-9" style="padding-left: 0">
                    <div class="well" style="background-color: #F3F4F0">
                        <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                        <button type="button" class="btn btn-default btn-sm" style="background-color: #ABEDE3">
                            <span class="glyphicon glyphicon-thumbs-up"></span> Like
                        </button>
                        <button type="button" class="btn btn-default btn-sm" style="background-color: #DE7568">
                            <span class="glyphicon glyphicon-comment"></span> Comment
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3" style="padding-right: 7px">
                    <div class="well" style="background-color: #F3F4F0">
                        <p>Jane</p>
                        <img src="bandmember.jpg" class="img-circle" height="55" width="55" alt="Avatar">
                    </div>
                </div>
                <div class="col-sm-9" style="padding-left: 0">
                    <div class="well" style="background-color: #F3F4F0">
                        <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                        <button type="button" class="btn btn-default btn-sm" style="background-color: #ABEDE3">
                            <span class="glyphicon glyphicon-thumbs-up"></span> Like
                        </button>
                        <button type="button" class="btn btn-default btn-sm" style="background-color: #DE7568">
                            <span class="glyphicon glyphicon-comment"></span> Comment
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3" style="padding-right: 7px">
                    <div class="well" style="background-color: #F3F4F0">
                        <p>Anja</p>
                        <img src="bird.jpg" class="img-circle" height="55" width="55" alt="Avatar">
                    </div>
                </div>
                <div class="col-sm-9" style="padding-left: 0">
                    <div class="well" style="background-color: #F3F4F0">
                        <p>Just Forgot that I had to mention something about someone to someone about how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I remember.... no I don't.</p>
                        <button type="button" class="btn btn-default btn-sm" style="background-color: #ABEDE3">
                            <span class="glyphicon glyphicon-thumbs-up"></span> Like
                        </button>
                        <button type="button" class="btn btn-default btn-sm" style="background-color: #DE7568">
                            <span class="glyphicon glyphicon-comment"></span> Comment
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2 well" style="background-color: #25434C">
            <div class="thumbnail" style="background-color: #F3F4F0">
                <img src="/Images/splash_balloon-sheep-8bpp.png" alt="Paris" width="400" height="300">
            </div>
            <div class="well" style="padding: 2%; background-color: #F3F4F0">
                <img src="/Images/2_Feat_Knitting_Patt_Feb_2021.jpg" class="img-fluid rounded">
            </div>
            <div class="well" style="padding: 2%; background-color: #F3F4F0">
                <img src="/Images/feat-source_feb_21.png" class="img-fluid rounded">
            </div>
            <div class="well" style="padding: 2%; background-color: #F3F4F0">
                <img src="/Images/Featured_Pattern__Beeswax_Scarf_-3.jpg" class="img-fluid rounded">
            </div>
        </div>
    </div>
</div>

<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Crafter.IdentityUserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Crafter.RavelryUsername)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Crafter.RavelryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Crafter.LastLoggedIn)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Crafter.IdentityUserId)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Crafter.RavelryUsername)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Crafter.RavelryId)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Crafter.LastLoggedIn)
                </td>
            </tr>
        </tbody>
    </table>
    <img src="@Model.Crafter.PhotoTinyURL" alt="Alternate Text" />