@*@model Yarn_Feed.ViewModels.PostViewModel*@
@model Yarn_Feed.Models.Crafter

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdentityUserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RavelryUsername)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RavelryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastLoggedIn)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.IdentityUserId)
                </td>
                <td>
                    @Html.DisplayFor(model => model.RavelryUsername)
                </td>
                <td>
                    @Html.DisplayFor(model => model.RavelryId)
                </td>
                <td>
                    @Html.DisplayFor(model => model.LastLoggedIn)
                </td>
            </tr>
        </tbody>
    </table>
    <img src="@Model.PhotoTinyURL" alt="Alternate Text" />