@model Yarn_Feed.ViewModels.PostViewModel
@*@model Yarn_Feed.Models.Crafter*@

@{
    ViewData["Title"] = "Index";
}




<div class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-3 well" style="background-color: #25434C">
            <div class="well" style="background-color: #F3F4F0">
                <p><strong><a href="#" style="color: #DE7568">My Profile</a></strong></p>
                <img src="@Model.Crafter.PhotoSmallURL" class="rounded" height="65" width="65" alt="Avatar">
            </div>
            <div class="well" style="background-color: #F3F4F0">
                <p><strong><a href="#" style="color: #DE7568">Interests</a></strong></p>
                <p>
                    <span class="label" style="color: #000000">News</span>
                    <span class="label" style="color: #000000">Knitting</span>
                    <span class="label" style="color: #000000">Yarn</span>
                    <span class="label" style="color: #000000">Crochet</span>
                    <span class="label" style="color: #000000">Friends</span>
                </p>
            </div>
            <div class="well" style="background-color: #F3F4F0">
                <img src="/Images/splash_balloon-alpaca-8bpp.png" class="img-fluid">
            </div>
            <div class="well" style="background-color: #F3F4F0">
                <p><a href="#" style="color: #DE7568">Create New Project</a></p>
                <p><a href="#" style="color: #DE7568">Find New Yarn</a></p>
                <p><a href="#" style="color: #DE7568">Search for Friends</a></p>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default text-left" style="background-color: #F3F4F0">
                        <div class="panel-body">
                            <form asp-action="NewPost" method="post">
                                <div class="form-group">
                                    <label asp-for="postBlurb">Create post</label>
                                    <textarea asp-for="postBlurb" class="form-control" id="postBlurb" rows="3" placeholder="What's on your mind?"></textarea>
                                </div>
                                <div class="form-group col-md-7">
                                    <input asp-for="sharableId" class="form-control" id="sharableId" placeholder="ID of Sharable">
                                </div>
                                <div class="form-group col-md-3">
                                    <select asp-for="sharableType" id="sharableType" class="form-control">
                                        <option selected>Choose</option>
                                        <option>Project</option>
                                        <option>Stash</option>
                                        <option>Shop</option>
                                        <option>Pattern</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <button type="submit" asp-for="blurb" name="action:blurb" class="btn" style="background-color: #DE7568">
                                        <span class="glyphicon glyphicon-share"></span>Share
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var post in Model.NewPosts)
            {
                <div class="row">
                    <div class="col-sm-3" style="padding-right: 7px">
                        <div class="well" style="background-color: #F3F4F0">
                            <p><strong>@post.PostedByUserName</strong></p>
                            <img src="@post.PostersPhoto" class="rounded" height="55" width="55" alt="Avatar">
                        </div>
                    </div>
                    <div class="col-sm-9" style="padding-left: 0">
                        <div class="well" style="background-color: #F3F4F0">
                            <p>@post.PostContent</p>
                            <div class="row">
                                @if (post.TypeOfPost == "Shop")
                                {
                                    <div class="col-md-6">
                                        <address>
                                            <strong>@post.shop_name</strong><br>
                                            @post.Address<br>
                                            @post.City, @post.state @post.zip<br>
                                            <abbr title="Phone">P:</abbr> @post.phone
                                        </address>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="glyphicon glyphicon-home" style="font-size: 50px;"></span>
                                    </div>
                                }
                                @if (post.TypeOfPost == "Pattern")
                                {
                                    <div class="col-md-6">
                                        <img src="@post.shelved_url" class="rounded" height="100" alt="Avatar">
                                    </div>
                                    <div class="col-md-6">
                                        <address>
                                            <strong>@post.pattern_name</strong><br>
                                            Desgned: @post.pattern_author<br>
                                            Projects made @post.projects_count people<br>
                                            Difficulty: @post.difficulty_average out of 5
                                        </address>
                                    </div>
                                }
                                @if (post.TypeOfPost == "Project")
                                {
                                    <div class="col-md-6">
                                        <img src="@post.shelved_url" class="rounded" height="100" alt="Avatar">
                                    </div>
                                    <div class="col-md-6 text-left">
                                        <address>
                                            <strong>@post.project_name</strong><br>
                                            Pattern: @post.pattern_name<br>
                                            Started: @post.started<br>
                                            Progress: @post.progress%
                                        </address>
                                    </div>
                                }
                                @if (post.TypeOfPost == "Stash")
                                {
                                    <div class="col-md-6">
                                        @if (post.stash_has_photo)
                                        {
                                            <img src="@post.shelved_url" class="rounded" height="100" alt="Avatar">

                                        }
                                        else
                                        {
                                            <span class="glyphicon glyphicon-tag" style="font-size: 50px;"></span>
                                        }
                                    </div>
                                    <div class="col-md-6 text-left">
                                        <address>
                                            <strong>@post.stash_name</strong><br>
                                            Brand: @post.company_name<br>
                                            Colorway: @post.colorway_name, @post.color_family_name<br>
                                            Fiber Content: @post.fiber1Percent% @post.fiber1
                                            @if (post.fiber2 != null)
                                            {
                                                <p>, @post.fiber2Percent % @post.fiber2</p>
                                            }
                                            @if (post.fiber3 != null)
                                            {
                                                <p>, @post.fiber3Percent % @post.fiber3</p>
                                            }
                                        </address>
                                    </div>
                                }
                            </div>

                            <form asp-action="LikePost" method="post">
                                <input type="hidden" asp-for="postId" value="@post.Id"  />
                                <button asp-action="LikePost" type="submit" class="btn btn-default btn-sm" style="background-color: #ABEDE3">
                                    <span class="glyphicon glyphicon-thumbs-up"></span> Like
                                </button>
                                <p> #oflike</p>
                            </form>
                            <div class="panel panel-default text-left" style="background-color: #F3F4F0">
                                <div class="panel-body">
                                    <form asp-action="AddComment" method="post">
                                        <div class="form-group col-md-10">
                                            <input type="hidden" asp-for="postId" value="@post.Id" />
                                            <input asp-for="postBlurb" class="form-control" id="postBlurb" placeholder="Comment...">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <button type="submit" class="btn" style="background-color:  #F0DE4D">
                                                <span class="glyphicon glyphicon-comment"></span> Comment
                                            </button>
                                        </div>
                                    </form>
                                    <form asp-action="RePost">
                                        <div class="form-group col-md-10">
                                            <input type="hidden" asp-for="postId" value="@post.Id" />
                                            <input asp-for="postBlurb" class="form-control" id="postBlurb" placeholder="Comment...">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <button type="submit" class="btn" style="background-color: #DE7568">
                                                <span class="glyphicon glyphicon-share"></span> Repost
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="col-sm-2 well" style="background-color: #25434C">
            <div class="thumbnail" style="background-color: #F3F4F0">
                <img src="/Images/splash_balloon-sheep-8bpp.png" alt="Paris" width="400" height="300">
            </div>
            <div class="well" style="padding: 2%; background-color: #F3F4F0">
                <img src="/Images/2_Feat_Knitting_Patt_Feb_2021.jpg" class="img-fluid rounded">
            </div>
            <div class="well" style="padding: 2%; background-color: #F3F4F0">
                <img src="/Images/feat-source_feb_21.png" class="img-fluid rounded">
            </div>
            <div class="well" style="padding: 2%; background-color: #F3F4F0">
                <img src="/Images/Featured_Pattern__Beeswax_Scarf_-3.jpg" class="img-fluid rounded">
            </div>
        </div>
    </div>
</div>
